<?xml version="1.0" encoding="UTF-8"?>
<launch>	
	
	<!-- Robot 1 Spawn -->
    <group ns="robot_1">
        <param name="tf_prefix" value="robot1_tf" />
        <include file="$(find ProyectoInt)/launch/phantom_gazebo.launch">
            <arg name="robot_name" value="phantom1"/>
            <arg name="x" value="0"/>
	        <arg name="y" value="0"/>
	        <arg name="z" value="0"/>
            <arg name="Y" value="0"/>
        </include>
    </group>

	<!-- Robot 2 Spawn -->
    <group ns="robot_2">
        <param name="tf_prefix" value="robot2_tf" />
        <include file="$(find ProyectoInt)/launch/phantom_gazebo.launch">
            <arg name="robot_name" value="phantom2"/>
            <arg name="x" value="0.5"/>
	        <arg name="y" value="0"/>
	        <arg name="z" value="0"/>
            <arg name="Y" value="3.1416"/>
        </include>
    </group>

	<!-- Zona de alimentación -->
    <group ns="z_alimentacion">
        <param name="tf_prefix" value="z_alimentacion_tf" />
        <include file="$(find ProyectoInt)/launch/z_alimentacion_gazebo.launch">
            <arg name="robot_name" value="Zona_Alimentacion"/>
            <arg name="x" value="0"/>
	        <arg name="y" value="0.1"/>
	        <arg name="z" value="0"/>
            <arg name="Y" value="0"/>
        </include>
    </group>>

    <!-- Zona de ensamble-->
    <group ns="z_ensamble">
        <param name="tf_prefix" value="z_ensamble_tf" />
        <include file="$(find ProyectoInt)/launch/z_ensamble_gazebo.launch">
            <arg name="robot_name" value="Zona_Ensamble"/>
            <arg name="x" value="0.1"/>
	        <arg name="y" value="-0.25"/>
	        <arg name="z" value="0"/>
            <arg name="Y" value="0"/>
        </include>
    </group>>
	
	<!-- Gazebo Initialization -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="use_sim_time" value="true"/>
	</include> 

	<!-- rqt -->
	<node name="rqt_publisher" pkg="rqt_publisher" type="rqt_publisher" />

</launch>