<?xml version="1.0" encoding="UTF-8"?>
<launch>	
	
	<!-- Robot Model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ProyectoInt)/urdf/phantom_description_gazebo.xacro'" />
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>


	<arg name="x2" default="1"/>
	<arg name="y2" default="0"/>
	<arg name="z2" default="0"/>

	<arg name="roll" default="0"/>
	<arg name="pitch" default="0"/>
	<arg name="yaw" default="0"/>


	<arg name="roll2" default="0"/>
	<arg name="pitch2" default="0"/>
	<arg name="yaw2" default="3.1416"/>

	<!-- Load controllers -->
    <rosparam command="load" file="$(find ProyectoInt)/config/joints.yaml"/>
        
	<!-- Controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner"
		respawn="false" output="screen" 
		args=" 
		joint_state_controller
		phantom_position_controller
		--timeout 60">
	</node>
		

	<!-- Gazebo Initialization -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="use_sim_time" value="true"/>
	</include> 

	<!-- Spawn Robot Model -->
	<node name="mybot_spawn" 
		pkg="gazebo_ros" 
		type="spawn_model" 
		output="screen"
		args="-urdf -param robot_description
		-model phantom -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

	<node name="mybot_spawn2" 
		pkg="gazebo_ros" 
		type="spawn_model" 
		output="screen"
		args="-urdf -param robot_description
		-model phantom2 -x $(arg x2) -y $(arg y2) -z $(arg z2) -R $(arg roll2) -P $(arg pitch2) -Y $(arg yaw2)" />

	<!-- State Publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<!-- rqt -->
	<node name="rqt_publisher" pkg="rqt_publisher" type="rqt_publisher" />

</launch>