<?xml version="1.0"?>

<robot name="Zona_Ensamble">
      <link name="world">
      </link>
        
      <joint name="joint_name" type="fixed">
        <parent link="world"/>
        <child link="ensamble"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      </joint>

      <link name="ensamble">
        <inertial>
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
          <mass value="0.882" />
          <inertia  ixx="0.001438432" ixy="0.0"  ixz="-0.000330708"  iyy="0.004406841"  iyz="0.0"  izz="0.005452392" />
        </inertial>
        <visual>
          <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
         <geometry>
           <mesh filename="package://ProyectoInt/meshes/ZonaEnsamble.stl" />
         </geometry>
         <material name="red">
          <color rgba="1.0 0.0 0.0 1.0"/>
         </material>
       </visual>
       <collision>
         <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
         <geometry>
           <mesh filename="package://ProyectoInt/meshes/ZonaEnsamble.stl"/>
         </geometry>
       </collision>
     </link>
     <gazebo reference="ensamble">
       <material>Gazebo/Blue</material>
     </gazebo>
</robot>